#plant-btn, #house-btn{
    font-size: 20px;
    border-radius: 5px;
}

header{
    background-color: rgb(148, 147, 147);
    margin: 0px 0px;
    padding: 1px 0px;
}

body{
    margin: 0px;
}

#head{
    margin: 5px 0px;
    text-align: center;
    letter-spacing: 10px;
    color: rgb(58, 55, 55);
    font-size: 25px;
}

#plant-img {
    margin-top: 10px;
    width: 50%;
}

#house-img {
    margin-top: 10px;
    width: 50%;
}

.house-group{
    text-align: center;
    border:5px #87858b solid;
    margin: 10px 10px;
    padding-bottom: 5px;
    border-radius: 5px;
}

.plant-group{
    text-align: center;
    border:5px #87858b solid;
    margin: 10px 10px;
    padding-bottom: 5px;
    border-radius: 5px;
}
